body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: #a1e4a1;
}
.input{
    height: 25px;
}
.link{
  text-decoration: none;
}
.timer{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
.search-input{
  padding: 6px;
  width: 100%;
}
.searchbar{
  display: flex;
  padding: 20px;
}
.description{
  margin-left: 10px;
}
.searchButton {
background-color: green;
color: #fff;
border: none;
}
* {
    box-sizing: border-box;
  }
    .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto; 
    display: -webkit-inline-box;
  }
  .bodyWrapper {
    background: #fff;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  
    .column {
      float: none;
      width: 50%;
      padding: 10px;
      height: auto; 
      display: inline-flex;
      align-items: center;
    }
    
  }